{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="mt-5 justify-content-around">
    <button class="btn btn-outline-primary mr-5">{{ button_label|default('Valider') }}</button>
    {% if is_granted('ROLE_ADMIN') %}
    <button class="btn btn-sm btn-info ml-5">
        <a href="{{ path('admin_users') }}">back to list</a>
    </button>
    {% else %}
    <button class="btn btn-sm btn-info ml-5">
        <a href="{{ path('all_players') }}">back to list</a>
    </button>
    {% endif %}
</div>
{{ form_end(form) }}

